<html>
    <head>
        <meta name="author" content="Jon Menard">
        <meta charset="utf-8">
        <meta name="description" content="A simple machine learning project to detect if a car is present in an image">
        <!-- <meta property="og:image" content="./logo.png"> -->
        <meta property="og:description" content="A simple machine learning project to detect if a car is present in an image">
        <meta property="og:title" content="ML Car Detector">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Machine Learning: Car Detector</title>
        <link href="{{ url_for('static', path='semantic.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
    </head>
<body>
    <header>
        <div class="ui massive inverted menu">
        </div>
        <div class="ui centered grid container">
            <div class="row"></div>
            <h1 class="ui icon header">
                <a>Detect A Car With Machine Learning</a>
            </h1>
        </div>
        <br>
        <div class="ui internally celled centered grid container">
            <div class="ui divider" style="width: 500px"></div>
        </div>
    </header>
    <main>
        <div id="contentContainer" class="ui centered grid container">
            <div class="row ">
                <div class="ui raised massive segments ">
                    <div id="formContainer" class="ui massive black segment">
                        <form class="ui massive form" action = "/uploadfile" method="post" id="userLoginForm">
                            <h2 class="ui dividing header">Upload Images to Analyze</h2>
                            <div class="ui icon input">
                                <div id="drop-region">
                                    <div class="drop-message">
                                        Drag & Drop Images or Click to Upload
                                    </div>
                                    <div id="image-preview">
                                        <!-- <div class = "image-view">  -->
                                            <!-- <img src="{{ url_for('static', path='22_75844058-fe62-4697-ae4f-ab3886414e49.jpg') }}" alt="Girl in a jacket">
                                            <div class = "imgResult"> 
                                            </div>
                                            
                                            
                                            <div class = "overlay">
                                                
                                            </div>
                                            <div class = "feedback">
                                                
                                                        <button class="feedbackButton wrong" value="22_75844058-fe62-4697-ae4f-ab3886414e49.jpg">
                                                            
                                                                Wrong
                                                        </button>
                                                    
                                                        
                                                        <button class="feedbackButton correct" value="22_75844058-fe62-4697-ae4f-ab3886414e49.jpg">
                                                            
                                                                Correct
                                                        </button>
                                                        
                                                    
                                                </div>
                                            </div>     -->
                                        <!-- </div> -->

                                    </div>
                                </div>  
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

<script>

var dropRegion = document.getElementById("drop-region");
var formContainer = document.getElementById("formContainer");
var imagePreviewRegion = document.getElementById("image-preview");
var imageForm = document.getElementById("userLoginForm");

// var feedbackCar = document.getElementsByClassName("correct");
// var feedbackNoCar = document.getElementsByClassName("wrong");

// for (var i = 0; i < feedbackCar.length; i++) {
//     feedbackCar[i].addEventListener('click', function(evt) {
//         preventDefault(evt);
//         var uploadLocation = "/setCar/" + evt.target.value;
//         sendCarData(uploadLocation)
//     });
// }

// for (var i = 0; i < feedbackNoCar.length; i++) {
//     console.log(feedbackNoCar[i])
//     feedbackNoCar[i].addEventListener('click', function(evt) {
//         preventDefault(evt);
//         var uploadLocation = "/setNotCar/" + evt.target.value;
//         sendCarData(uploadLocation)
//     });
// }

function car(button){
    console.log(button.value)
}

function noCar(button){
    console.log(button.value)
   
	// upload the image
	
	sendCarData()
	
}

function sendCarData(uploadLocation){
    const ajax = new XMLHttpRequest();
	ajax.open("GET", uploadLocation, true);
    ajax.timeout = 30000
    var isCar = false
	ajax.onload  = function(e) {
		if (ajax.readyState === 4) {
			if (ajax.status === 200) {
                const obj = JSON.parse(ajax.responseText)
                console.log(obj)
                
			} else {
				console.log("submit error")
			}
		}
	}


	ajax.send();
}



var fakeInput = document.createElement("input");
fakeInput.type = "file";
fakeInput.accept = "image/*";
fakeInput.multiple = true;

dropRegion.addEventListener('click', function(evt) {
    if(evt.target.type =="submit"){
        return
    }
	fakeInput.click();
});

imageForm.addEventListener('submit', function(evt) {
        preventDefault(evt);
        // window.history.back();
});


fakeInput.addEventListener("change", function() {
	var files = fakeInput.files;
	handleFiles(files);
});

function preventDefault(e) {
	e.preventDefault();
  	e.stopPropagation();
}

// dropRegion.addEventListener('dragenter', preventDefault, false)
// dropRegion.addEventListener('dragleave', preventDefault, false)
// dropRegion.addEventListener('dragover', preventDefault, false)
// dropRegion.addEventListener('drop', preventDefault, false)


dropRegion.addEventListener("dragenter", (e) => {
    e.preventDefault()
    dropRegion.classList.add("hover")
});

dropRegion.addEventListener("dragover", (e) => {
    e.preventDefault()
    dropRegion.classList.add("hover")
});

dropRegion.addEventListener("dragleave", (e) => {
    e.preventDefault()
    dropRegion.classList.remove("hover")
}); 

dropRegion.addEventListener("drop", (e) => {
    e.preventDefault()
    dropRegion.classList.remove("hover")
}); 


function handleDrop(e) {
	var dt = e.dataTransfer
	var files = dt.files;

	if (files.length) {
		handleFiles(files);
	} else {
		// check for img
		var html = dt.getData('text/html')
	    var match = html && /\bsrc="?([^"\s]+)"?\s*/.exec(html)
	    var url = match && match[1]

	    if (url) {
	        uploadImageFromURL(url);
	        return;
	    }
	}


	function uploadImageFromURL(url) {
		var img = new Image;
        var c = document.createElement("canvas");
        var ctx = c.getContext("2d");

        img.onload = function() {
            c.width = this.naturalWidth;     // update canvas size to match image
            c.height = this.naturalHeight;
            ctx.drawImage(this, 0, 0);       // draw in image
            c.toBlob(function(blob) {        // get content as PNG blob
            	// call our main function
                handleFiles( [blob] );
            }, "image/png");
        };
        img.onerror = function() {
            alert("Error in uploading");
        }
        img.crossOrigin = "";              // if from different origin
        img.src = url;
	}
}

dropRegion.addEventListener('drop', handleDrop, false);


function handleFiles(files) {
	for (var i = 0, len = files.length; i < len; i++) {
		if (validateImage(files[i]))
			previewAnduploadImage(files[i]);
	}
}

function validateImage(image) {
	// check the type
	var validTypes = ['image/jpeg', 'image/png', 'image/gif'];
	if (validTypes.indexOf( image.type ) === -1) {
		alert("Invalid File Type");
		return false;
	}

	// check the size
	var maxSizeInBytes = 10e6; // 10MB
	if (image.size > maxSizeInBytes) {
		alert("File too large");
		return false;
	}

	return true;

}

function previewAnduploadImage(image) {

	// container
	var imgView = document.createElement("div");

    var imgResult= document.createElement("div");
    imgResult.className = "imgResult";
    

    imgView.id = image.name;
	imgView.className = "image-view";
    
	imagePreviewRegion.appendChild(imgView);

	// previewing image
	var img = document.createElement("img");
	imgView.appendChild(img);
    imgView.appendChild(imgResult)

	// progress overlay
	var overlay = document.createElement("div");
	overlay.className = "overlay";

    var feedback = document.createElement("div");
	feedback.className = "feedback";


    
    

	imgView.appendChild(overlay);
    imgView.appendChild(feedback);




	// read the image...
	var reader = new FileReader();
	reader.onload = function(e) {
		img.src = e.target.result;
	}
    
	reader.readAsDataURL(image);

	// create FormData
	var formData = new FormData();
	formData.append('file', image);

	// upload the image
	var uploadLocation = '/uploading';
	
	const ajax = new XMLHttpRequest();
	ajax.open("POST", uploadLocation, true);
    ajax.timeout = 30000
    var isCar = false
	ajax.onload  = function(e) {
		if (ajax.readyState === 4) {
			if (ajax.status === 200) {
				console.log("submit")
                
                const obj = JSON.parse(ajax.responseText)
                console.log(obj)
                
                if(obj.car){
                    imgResult.className = "imgResult car"
                    imgResult.innerHTML = "Car" 
                }else{
                    imgResult.className = "imgResult no-car";
                    imgResult.innerHTML = "No Car"
                }

                feedback.style.width = "100%"
                feedback.style.height = "15%"
                feedback.style.top = "85%"
                var buttonWrong = document.createElement("button");
                var buttonCorrect = document.createElement("button");
                buttonCorrect.className = "feedbackButton correct";
                buttonWrong.className = "feedbackButton wrong";
                buttonWrong.value = obj.filename
                buttonCorrect.value = obj.filename

                buttonCorrect.innerHTML = "Correct"
                buttonWrong.innerHTML = "Wrong"

                buttonWrong.addEventListener('click', function(evt) {
                    preventDefault(evt);
                    var parent = evt.target.parentNode 
                    parent.children[0].style.visibility = 'hidden';
                    parent.children[1].style.visibility = 'hidden';
                    parent.style.visibility = 'hidden';
                    var uploadLocation = "/setNotCar/" + evt.target.value;
                    sendCarData(uploadLocation)
                });

                buttonCorrect.addEventListener('click', function(evt) {
                    preventDefault(evt);
                    var parent = evt.target.parentNode 
                    parent.children[0].style.visibility = 'hidden';
                    parent.children[1].style.visibility = 'hidden';
                    parent.style.visibility = 'hidden';
                    var uploadLocation = "/setCar/" + evt.target.value;
                    sendCarData(uploadLocation)
                });

                feedback.appendChild(buttonWrong)
                feedback.appendChild(buttonCorrect)

                imgResult.innerHTML += " (" + obj.confidence + "%)"
                // isCar = (xhr.responseText);
			} else {
				console.log("submit error")
			}
		}
	}

    

	ajax.upload.onprogress = function(e) {
		var perc = (e.loaded / e.total * 100) || 100,
			width = 100 - perc;

		overlay.style.width = width;
	}

	ajax.send(formData);

}
</script>
</body>
</html>